.manageitem {
    width: 76%;
    margin-top: 70px;
    margin-left: 22%;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative;
  
}

.manageitem h1 {
    padding: 10PX;
    color: blue;
}

.left-button {
    margin-right: 20px;
    width: 50px;
    height: 40px;
    background-color: #df16c4;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.left-button i {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;


}

/* Hover effect */
.left-button:hover {
    background-color: #45a049;
}

.middle-button{
    margin-right: 20px;
    width: 50px;
    height: 40px;
    background-color: #56cf0f;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.middle-button i {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;


}


.middle-button:hover {
    background-color: #be880a;
}

.viewmorebutton {
    margin-right: 20px;
    width: 100px;
    height: 40px;
    background-color: #c43408;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}



.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Adjust as needed */
}

.item-container .card {
    /* flex: 1 0 calc(33.33% - 20px); */
    /* Adjust as needed for number of items per row */
    /* margin-bottom: 5px; */
}